<div class="container">
  <h1>编辑文章</h1>
  <%= link_to '查看', @article, class: 'btn btn-success' %>
  <%= link_to '返回列表', articles_path, class: 'btn btn-success' %>
  <p></p>
  <div class="row">
    <%= render 'form', article: @article %>
  </div>
</div>

