<div class="container">
  <div class="row">
    <h1>验证用户权限，请登录</h1>
  </div>
</div>

<div class="container">
  <% @articles.each do |article| %>
  <div class="row">
    <div class="col-md-12">
      <p>用户：<%= article.user_id %></p>
      <p>标题：<%= article.title %></p>
      <p><%= article.content %></p>
    </div>
  </div>
  <% end %>
</div>
